/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}

.navbar {
  background-color: #313945;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #333;
}
  
input[type="file"] {
  margin: 1em 0;
}
  
button {
  padding: 0.5em 2em;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
button:hover {
  background-color: #0056b3;
}
  
#message {
  margin-top: 1em;
  color: green;
}

.card{
  border-radius: 0px;
  border-color: transparent !important;
}
.card-body {
  padding: 2rem;
}

.btn {
  background-color: #313945 !important;
  color: #ffffff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ffffff !important;
  color: #313945 !important;
  border-color: #313945;
}

.btn:focus {
  box-shadow: 0 0 5px rgba(49, 57, 69, 0.5);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.section-title {
  color: #313945;
  font-weight: bold;
}

main{
  box-shadow: 15px 1rem .14rem rgba(0, 0, 0, .075) !important;
  border: 1.2px solid #ced4da;
  border-radius: 11px;
  background-color: white;
  padding: 2.5rem;
}

.nav-tabs{
  border-bottom: none !important;
}

/* Estilo para las tabs */
.nav-tabs .nav-link {
  background-color: #313945;
  color: white;
  border: 1px solid transparent;
  margin-left: 2px;
  border-radius: 5px;
}

/* Cambio de estilo al pasar el mouse */
.nav-tabs .nav-link:hover {
  background-color: white;
  color: black;
  border-color: #313945;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

/* Pestaña activa */
.nav-tabs .nav-link.active {
  background-color: #14161a;
  color: white;
}

/* Menu Nav Tabs*/
@media (max-width: 768px) {
  .nav-tabs {
    display: none; /* Oculta las pestañas en pantallas pequeñas */
  }

  #tabSelector {
    display: block; /* Muestra el selector en pantallas pequeñas */
  }
}

@media (min-width: 769px) {
  #tabSelector {
    display: none; /* Oculta el selector en pantallas grandes */
  }
}

footer {
  background-color: #313945;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.3);
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}